html {
    font-size: 5px;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #003049;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.hr-1 {
    border: none;
    margin-top: 3rem;
    border-bottom: .5rem solid #003049;
}

.hr-2 {
    border: none;
    margin-top: 3rem;
    border-bottom: .5rem solid #EAE2B7;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*

nav {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #003049;
    position: relative;
}

nav ul {
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav ul li {
    margin-right: 2rem;
    float: left;
}

nav ul li a {
    text-decoration: none;
    font-size: 2.5rem;
    color: #fff;
    font-weight: 700;
    transition: color .3s;
}

nav ul li a:hover {
    color: #F77F00;
}

*/

/* header */

header {
    position: relative;
}

#header-nav {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-btn {
    color: #EAE2B7;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    display: block;
    margin-top: 2rem;
    text-align: center;
    border: .5rem solid #EAE2B7;
    border-radius: .4rem;
    padding: 2rem;
    background-color: transparent;

    transition: background-color .3s;
    -moz-transition: background-color .3s;
    -webkit-transition: background-color .3s;
}

.nav-btn:hover {
    background-color: #F77F00;
}



#bg-image {
    background-image: url("../img/header-bg.jpg");
    background-position: 20% 50%;
    background-size: cover;
    height: 100vh;
    opacity: .7;
    z-index: -1;
}

#header-info {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#header-info h2 {
    font-size: 8rem;
    color: #EAE2B7;
    transition: font-size .5s;
}


#header-info p {
    margin-top: 10rem;
    color: #fff;
    font-weight: 400;
    font-size: 3rem;
}

/* projects */

#projects {
    background-color: #EAE2B7;
    padding: 10rem 0;
}

#projects h2 {
    text-align: center;
    color: #003049;
    font-weight: 700;
    font-size: 8rem;
}

#gallery {
    padding: 10rem 3rem;
}


.card-container {
    padding: 5rem;
    float: left;
    width: 100%;
}

.card {
    height: 75rem;
    background-color: #003049;
    border-radius: 3rem;
    overflow: hidden;

    -webkit-box-shadow: .5rem .5rem 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: .5rem .5rem 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: .5rem .5rem 10px 0px rgba(0, 0, 0, 0.75);

    -moz-transition: opacity .3s;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

.card:hover {
    opacity: .7;
}

.card-image {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    width: 100%;
    height: 50rem;
    object-fit: cover;
    object-position: center;
    opacity: .9;
}

.card-title {
    padding: 2rem;
    color: #EAE2B7;
    font-size: 5rem;
    font-weight: 700;
    padding-bottom: 0;
}

.card-text {
    color: #EAE2B7;
    font-size: 2.5rem;
    font-weight: 300;
    padding: 2rem;
}

/* info */

#info {
    background-color: #D62828;
    padding: 10rem 0;
}

#info h2 {
    font-size: 8rem;
    color: #EAE2B7;
    text-align: center;
}

#info-container {
    padding: 10rem 0;
}

#info-image-box {
    width: 25%;
    float: right;
}

#info-image-box img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

#info-text-box {
    color: #EAE2B7;
    width: 70%;
}

#info-p1 {
    font-size: 4rem;
    font-weight: 700;
    padding: 2rem;
    padding-top: 0;
}

#info-p2 {
    font-size: 3rem;
    font-weight: 300;
    padding: 2rem;
}

/* contact */

#contact {
    padding-top: 5rem;
    background-color: #003049;
    color: #EAE2B7;
}

#contact-mail {
    display: block;
    text-align: center;
    width: 100%;
    padding: 3rem;
}

#contact-mail h3 {
    font-size: 4rem;
    font-weight: 700;
}

#contact-mail p {
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 300;
    padding: 2rem;
}

#contact-social {
    text-align: center;
    padding: 3rem;
    display: block;
    width: 100%;
}

#contact-social h3 {
    font-size: 4rem;
}

.social-btn {
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    margin-right: 3rem;
    font-size: 5rem;
    color: #EAE2B7;

    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3;
}

.social-btn:hover {
    color: #F77F00;
}

#contact-author {
    background-color: #012335;
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
}


@media screen and (min-width:576px) {
    html {
        font-size: 6px;
    }

    .container {
        max-width: 540px;
    }

    .card-container {
        width: 100%;
    }

    #contact-mail {
        float: none;
        width: 100%;
        display: block;
    }

    #contact-social {
        float: none;
        width: 100%;
        display: block;
    }
}

@media screen and (min-width:768px) {
    html {
        font-size: 6.5px;
    }

    .container {
        max-width: 720px;
    }

    .card-container {
        width: 50%;
    }

    #contact-mail {
        float: left;
        width: 50%;
    }

    #contact-social {
        float: right;
        width: 50%;
    }

    .nav-btn {
        float: left;
        margin: 0 2rem;
    }

    #header-nav {
        bottom: 20%;
    }

}

@media screen and (min-width:992px) {
    html {
        font-size: 8px;
    }

    .container {
        max-width: 960px;
    }

    .card-container {
        width: 50%;
    }

    #contact-mail {
        float: left;
        width: 50%;
    }

    #contact-social {
        float: right;
        width: 50%;
    }

    .nav-btn {
        float: left;
        margin: 0 2rem;
    }

    #header-nav {
        bottom: 20%;
    }
}

@media screen and (min-width:1200px) {
    html {
        font-size: 9px;
    }

    .container {
        max-width: 1140px;
    }

    .card-container {
        width: 50%;
    }

    #contact-mail {
        float: left;
        width: 50%;
    }

    #contact-social {
        float: right;
        width: 50%;
    }

    .nav-btn {
        float: left;
        margin: 0 2rem;
    }

    #header-nav {
        bottom: 20%;
    }
}